<!doctype html>
<html lang="en" ng-app="ToDoList">
  <head>
    <meta charset="utf-8">
    <title>toDoList</title>
    <script src="bower_components/jquery/dist/jquery.js"></script>
    <script src="bower_components/jquery-ui/jquery-ui.min.js"></script>
    <link href='http://fonts.googleapis.com/css?family=Lobster' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="public/todostyle.css">
  </head>

  <body ng-controller="ToDoListController as ctrl">
    <div>

      <img class="toDoImg" src="public/todolist.png">

      <div class="everythingOnRight">
        <h1 id="header">toDoList</h1>

        <form>
          <input class="inputBox" id="newTaskId" ng-model="ctrl.newTask" type="text" placeholder="Add toDo">
          <button class="button" id="addTaskId" ng-click="ctrl.addTask()">Add toDo</button>
        </form>

        <button class="viewTaskListButtons" id="viewIncompleteTasks" ng-init="tab = tab === 'incompleteTasks' ? null: 'incompleteTasks'" ng-click="tab = 'incompleteTasks'" ng-class="{true:'active', false:'inactive'}[tab == 'incompleteTasks']">toDos</button>
        <button class="viewTaskListButtons" id="viewCompletedTasks" ng-click="tab = 'completedTasks'" ng-class="{true:'active', false:'inactive'}[tab == 'completedTasks']">toDids</button> 
        <div class="taskList" id="taskList">
          <table ng-repeat="eachTask in ctrl.listTasks" ng-show="tab === 'incompleteTasks'">
            <tr>
              <td class="eachTaskClass" id="eachTaskId">{{ eachTask.task }}</td>
              <td class="eachCheckboxRow"><input class="checkbox" ng-model="eachTask.isChecked" id="checked" type="checkbox"></input></td>
            </tr>
          </table>
          <table ng-repeat="eachCompletedTask in ctrl.completedTasks" ng-show="tab === 'completedTasks'">
            <td class="eachTaskClass" id="eachTaskId">{{ eachCompletedTask.task }}</td>
            <td class="eachCheckboxRow"><input class="checkbox" ng-model="eachCompletedTask.isChecked" id="checked" type="checkbox"></input></td>
          </table>

          <span class="taskCount" id="taskCount" ng-show="tab === 'incompleteTasks'">
            You have {{ ctrl.listTasks.length }} toDos!
          </span>
          <span class="taskCount" id="taskCount" ng-show="tab === 'completedTasks'">
            You have completed {{ ctrl.completedTasks.length }} toDos!
          </span>
        </div>
        <span>
          <button class="markAsComplete button" id="checkedItemsAreComplete" ng-click="ctrl.markCheckedAsComplete()">Mark as Complete</button>
          <button class="button" id="deleteCheckedItems" ng-click="ctrl.clearChecked()">Delete</button>
        </span>
      </div>
      
      <script src="bower_components/angular/angular.js"></script>
      <script src="bower_components/angular-resource/angular-resource.js"></script>
      <script src="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
      <script src="js/app.js"></script>
      <script src="js/toDoListController.js"></script>

      <script type="text/javascript">
        $(function(){
          $('#viewIncompleteTasks').click();
        });
  
        $("#viewCompletedTasks").click(function () {
          $( "#viewIncompleteTasks").addClass("activeButton")
          $( "#viewCompletedTasks").removeClass("activeButton")
        });
      
        $("#viewIncompleteTasks").click(function () {
          $( "#viewCompletedTasks").addClass("activeButton")
          $( "#viewIncompleteTasks").removeClass("activeButton")
        });
      
      </script>

    </div>
  </body>
</html>